plot_avg_cov = false;

% mean for each cluster, D=2
hyper.mu = [0;0];
% used to multiply the covariance matrix with
hyper.kappa = 0.02;
% nu should be larger than D-1
hyper.nu = 4;
% covariance matrix
hyper.lambda = eye(2);

alpha = 1;

% the number of items is fixed, it is not possible to get another item in an incremental fashion using this generator
n=100;

