plot_avg_cov = false;

dim=2;
alpha=10;

% mean for each cluster, D=2
hyper.mu = zeros(dim,1);
% used to multiply the covariance matrix with
hyper.kappa = 0.001;
% nu should be larger than D-1
hyper.nu = 4;
% covariance matrix
hyper.lambda = 1*eye(dim);


% the number of items is fixed, it is not possible to get another item in an incremental fashion using this generator
n=200;
%n=1000;

% choose noise distribution to be "normal" or "uniform"
noise_distribution="normal";

