% Configuration parameters, from adding Gaussian noise, to test options
config_use_noise=0;
test_horizontal_line=0;
test_vertical_line=0;
test_calculate_first_two_points=0;
test_calculate_angle_first_two_points=0;
print_parameters=1;

test_line_estimation=1;
test_introduce_outlier=1;
do_threshold_weights=1;
plot_points=0;
plot_distance_angle=1;
plot_weighted_points=1;
plot_shifted_weighted_points=1;

% number of samples
n=40;

% the level of noise can be reduced or increased
noise_factor=1;

% line coefficients, format: [scale, y intersect; scale, y intersect], etc.
G=[1 2; -1 -1; -10 4];
G=[1 2; -1 -1];

